$sidebar_width : 80px;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
  color: #fff;
}
.App{
  display: flex;
  flex-wrap: wrap;
}
.sidebar{
  width: 80px;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #202B3B;
}
header{
  width: calc(100% - $sidebar_width);
  margin-left: $sidebar_width;
  // background-color: #202B3B;
  padding: 5px 10px;
  .city_search{
    display: flex;
    align-items: center;
  }
  input{
    height: 30px;
    width: min(500px, 100% );
    outline: none;
    border: none;
    background-color: #202B3B;
    border-radius: 20px;
    padding: 5px 10px;
  }
  button{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    outline: none;
    border: none;
    background-color: #202B3B;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }
}
.weather_container{
  padding: 20px 1rem;
  margin-left: $sidebar_width;
  margin-top: 5px;
  width: calc(100% - $sidebar_width);
  // background-color: #202B3B;
}